:root {
    /*------ colores tarjeta inmateriales ------*/
    --in-marco: #6420a6;
    --in-fondo-gral: #250c45;
    --in-fondo-osc: #411b6f;
    --in-fondo-claro: #9e62e6;
    --in-fondo-foto: #241733;
    --in-txt-osc: #090704;
    --in-txt-claro: #ffffff;
    --in-verde-claro: #42c083;
    --in-verde-osc: #1c774b;
    --in-celeste: #4698e5;
    --in-rojo: #eb2457;
    --in-amarillo: #e5df46;
    --in-divisor: #3c1468;
    /*------ colores tarjetas encarnados ------*/
    --en-rojo-claro: #cf3500;
    --en-rojo-osc: #741900;
    --en-rojo: #b82e00;
    --en-naranjo-claro: #d75e00;
    --en-naranjo: #cb5700;
    --en--naranjo-osc: #a64300;
    /*------ colores tarjetas monstruos ------*/
    --mo-marron: #ad580d;
}

/* DRACONIS FONT */
@font-face {
    font-family: 'draconisregular';
    src: url('../fonts/draconis-jrw6b-webfont.woff2') format('woff2'),
        url('../fonts/draconis-jrw6b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'draconisbold';
    src: url('../fonts/draconisbold-qzxd6-webfont.woff2') format('woff2'),
        url('../fonts/draconisbold-qzxd6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'draconisbold_italic';
    src: url('../fonts/draconisbolditalic-al8o6-webfont.woff2') format('woff2'),
        url('../fonts/draconisbolditalic-al8o6-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'draconisitalic';
    src: url('../fonts/draconisitalic-vgdjy-webfont.woff2') format('woff2'),
        url('../fonts/draconisitalic-vgdjy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* DRAGON HUNTER FONT */
@font-face {
    font-family: 'DRAGON HUNTER';
    src: url('../fonts/DragonHunter-9Ynxj.eot');
    src: url('../fonts/DragonHunter-9Ynxj.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DragonHunter-9Ynxj.woff2') format('woff2'),
        url('../fonts/DragonHunter-9Ynxj.woff') format('woff'),
        url('../fonts/DragonHunter-9Ynxj.ttf') format('truetype'),
        url('../fonts/DragonHunter-9Ynxj.svg#DRAGON HUNTER') format('svg');
}

/* Fourth Edition Dings */
@font-face {
    font-family: 'Fourth-Edition Dings';
    src: url('../fonts/FourthEditionDings-82j0.eot');
    src: url('../fonts/FourthEditionDings-82j0.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FourthEditionDings-82j0.woff2') format('woff2'),
        url('../fonts/FourthEditionDings-82j0.woff') format('woff'),
        url('../fonts/FourthEditionDings-82j0.ttf') format('truetype'),
        url('../fonts/FourthEditionDings-82j0.svg#Fourth-Edition Dings') format('svg');
}

/*------ GENERAL ------*/
html,
body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background-color: var(--in-fondo-gral) !important;
}

h1 {
    font-family: 'DRAGON HUNTER', sans-serif !important;
    text-align: center;
    word-wrap: break-word;
    font-size: 3rem;
    line-height: 3.5rem;
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'draconisregular', sans-serif !important;
    color: var(--in-txt-claro);
}

h2 {
    text-align: center;
    border-bottom: rgba(255, 255, 255, 0.3) solid 1px;
    padding-bottom: 0.5em;
    margin: 1em 0;
    font-size: 3rem;
    line-height: 3.5rem;
}

header p {
    color: var(--in-txt-osc);
    line-height: 1.7rem;
}

h3 {
    font-size: 2.5rem;
    line-height: 3rem;
}

h4 {
    font-size: 2rem;
    line-height: 2.5rem;
}

p {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 1px;
}

ul li {
    font-family: 'draconisregular', sans-serif !important;
    color: var(--in-txt-claro);
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 1px;
    margin-bottom: 1em;
    list-style-image: url(../imagenes/vin-blanco.svg);
}

a {
    text-decoration: none !important;
    color: var(--in-txt-claro);
}

/*------ HEADER ------*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    background-color: var(--in-verde-claro);
}

header img {
    width: 6em;
    padding: 0 1em;
}

/*------ MAIN ------*/
main {
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

/* ------ SECTIONS ------*/
section {
    padding: 1em;
    margin:0;
    position: relative;
}

/* ------ FOOTER ------*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0 4em 0;
    background-color: var(--in-marco);
}

/* ------ COLORES ------ */
.morado {
    color: var(--in-fondo-claro);
}

.verde {
    color: var(--in-verde-claro);
}

.rojo {
    color: var(--in-rojo);
}

.amarillo {
    color: var(--in-amarillo);
}

.celeste {
    color: var(--in-celeste);
}

.marron {
    color: var(--mo-marron);
}